{% extends 'base.html' %}
{% set show_header=true %}
{% set show_footer=true %}

{% block content %}
<div class="container my-5 py-5 d-flex justify-content-center align-items-center text-white">
  <div class="bg-dark p-5 rounded-4 shadow-lg w-100" style="max-width: 500px;">
    <h1 class="mb-4 text-center text-warning fw-bold">Iniciar sesión</h1>
    
    <form method="POST">
      {{ form.hidden_tag() }} 

      <div class="mb-3 text-start">
        {{ form.email.label(class="form-label text-success") }}
        {{ form.email(class="form-control", placeholder="Correo electrónico") }}
      </div>

      <div class="mb-3 text-start">
        {{ form.password.label(class="form-label text-success") }}
        {{ form.password(class="form-control", placeholder="Tu contraseña") }}
      </div>

      <div class="form-check mb-3 text-start">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label text-white") }}
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-warning fw-bold">{{ form.submit.label.text }}</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
