{% extends 'base.html' %}
{% set show_header=true %}
{% set show_footer=true %}

{% block content %}
<div class="container my-5 py-5 d-flex justify-content-center align-items-center text-white">
  <div class="bg-dark p-5 rounded-4 shadow-lg w-100" style="max-width: 500px;">
    <h2 class="mb-4 text-center text-warning fw-bold">Crear una cuenta</h2>

    <form method="POST">
      {{ form.hidden_tag() }} 

      <div class="mb-3 text-start">
        {{ form.username.label(class="form-label text-success") }}
        {{ form.username(class="form-control", placeholder="Crea un nombre de usuario") }}
      </div>

      <div class="mb-3 text-start">
        {{ form.email.label(class="form-label text-success") }}
        {{ form.email(class="form-control", placeholder="Ingresa tu correo") }}
      </div>

      <div class="mb-3 text-start">
        {{ form.password.label(class="form-label text-success") }}
        {{ form.password(class="form-control", placeholder="Contraseña") }}
      </div>

      <div class="mb-3 text-start">
        {{ form.confirm_password.label(class="form-label text-success") }}
        {{ form.confirm_password(class="form-control", placeholder="Confirmar contraseña") }}
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-warning fw-bold">{{ form.submit.label.text }}</button>
      </div>
    </form>
    <p class="mt-3 text-center text-white">¿Ya tienes una cuenta? <a href="{{ url_for('routes.login') }}" class="text-success fw-bold">Inicia sesión</a></p>
  </div>
</div>
{% endblock content %}
